/*body {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    margin: 0;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    !*font-family: "Helvetica";*!*/
/*}*/
/*https://colorhunt.co/palette/97bfb4f5eedcdd4a484f091d*/
/* <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */
html {
    /*margin: 0;*/
    /*padding: 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
.pallet {
    color: #F4F9F9;


    color: #4F091D;
    color: #212529;
}
.txt-blue{
    color: #97BFB4;
}
.txt-red{
    color: #DD4A48;
}

.secondary {
    color: #DD4A48;
}

::selection {
    /*color: red;*/
    background: #97bfb46e;
}

a {
    text-decoration: none;
}

section {
    padding: 0 8rem;
}
@media screen and (max-width: 767px) {
    section {
        padding: 0;
    }
}
/**--NAV--*****************************************************************************************************************************/
nav {
    backdrop-filter: blur(6px);
}

.nav-list {
    padding: 0 30px;
    list-style-type: none;
    font-size: 25px;
    top: 20px;
    margin: 0;
}

.nav-list li {
    display: inline-block;
    padding: 8px;
    margin: 0;
}

.nav-list li a {
    color: #1f1f1f;
    text-decoration: none;
    /*font-weight: 400;*/
    font-weight: lighter;
    padding: 0;
    transition: color 0.5s, border-bottom 1s;
    -webkit-transition: color 0.5s, border-bottom 1s;
}

.nav-list li a:hover {
    color: #9d9d9d;
}

.site-logo path {
    fill: #212529;
    transition: fill 0.5s;
    -webkit-transition: fill 0.5s;
}

.nav_name {
    position: absolute;
    top: 1px;
}

.dp img {
    max-height: 1500px;
    max-width: 1500px;
    position: absolute;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: auto;
}

.dp_mobile img {
    border-radius: 50%;
}

.side-socials {
    position: fixed;
    bottom: 7rem;
    left: 2.9rem;
    width: fit-content;
    font-size: 1.6rem;
    color: #212529;
}

.side-socials:after {
    content: "";
    position: absolute;
    bottom: -130px;
    left: 50%;
    right: 0;
    height: 4em;
    border-left: 1px solid #212529;
}

.side-socials-contact {
    position: fixed;
    bottom: 7rem;
    left: 2.4rem;
    width: fit-content;
    font-size: 1.6rem;
}

.side-socials-contact:after {
    content: "";
    position: absolute;
    bottom: -130px;
    left: 50%;
    right: 0;
    height: 4em;
    border-left: 1px solid whitesmoke;
}


.social-icons {
    padding: 10px 0;
    color: #212529;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.social-icons:hover {
    color: #97BFB4;
    text-decoration: none;
}

.social-icons-contact{
    padding: 7px 0;
    color: whitesmoke;
    text-decoration: none;
    transition: color ease-in, box-shadow 0.2s ease-out, background 0.4s;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.1em;
    margin: 3px 0;
    border-radius: 10px;
}

.social-icons-contact:hover{
    background-color: white;
    color: #DD4A48;
    text-decoration: none;
    box-shadow: -16px 18px 20px 0 rgba(27, 27, 27, 0.22);

}

.side-email {
    position: fixed;
    right: 2.5rem;
    bottom: 7rem;
    width: fit-content;
    writing-mode: vertical-rl;
    text-orientation: mixed
}

.side-email:after {
    content: "";
    position: absolute;
    bottom: -130px;
    left: 50%;
    right: 0;
    height: 7em;
    border-left: 1px solid #212529;
}

.side-email a {
    position: relative;
    left: 3px;
    padding: 8px 0;
    color: #212529;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
    transition: color 0.2s ease-in;
}
.side-email a:hover {
    color: #97BFB4;
}
@media screen and (max-width: 767px) {
    .side-socials {
        display: none!important;
    }
    .side-socials:after {
        display: none!important;
    }
}
@media screen and (max-width: 650px) {
    .side-socials-contact {
        display: none!important;
    }
}
/**--HEADER--*****************************************************************************************************************************/
header {
    background-color: #F4F9F9;
    height: 110rem;
}

.arw-btn{
    border-radius: 50%;
    border: 2px solid #212529;
    width: 4rem;
    height: 4rem;
    color: #212529;
    transition: all 0.1s ease-in;
    background: transparent;
    font-size: 0.95rem;
    font-family: sans-serif;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.05em;
    line-height: 1;
    padding: 1rem;
    /*transition: color ease-in, box-shadow 0.2s ease-out, background 0.4s;*/
}
.arw-btn:hover{
    color: rgba(244, 249, 249, 0.99);
    background-color: #97BFB4;
    border-color: transparent;
    box-shadow: -16px 18px 20px 0 rgba(27, 27, 27, 0.22);
}

.header_content {
    position: fixed;
    left: 8rem;
    bottom: 13%;
    height: 70%;
}

.title {
    position: relative;
    z-index: 100;
    font-size: 7rem;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.link {
    color: #212529;
    text-decoration: none;
}

.fa-chevron-down:before {
    content: "\f078";
}

.arrow {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#maurya {
    margin-top: -40px;
}

@media screen and (max-width: 992px) {
    .header_content {
        position: fixed;
        width: 100%;
        left: 0;
    }

    .fa-chevron-down:before {
        left: 0;
    }
    header {
        height: 130rem;
    }
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 15vw;
    }

    #maurya {
        margin-top: -20px;
    }

}

/**--ABOUT--*****************************************************************************************************************************/
.about_content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10rem;
    top: 55rem;
    /* border: 1px solid #0f2027; */
}

.about h1{
    height: 3rem;
}
.logo_container {
    width: 100%;
    height: 100%;
    padding: 3rem;
}
.about_logo path {
    transition: fill 0.5s;
    -webkit-transition: fill 0.5s;
    animation: logo 6s infinite;
}
@keyframes logo {
  0% {fill: #212529;}
  50% {fill: #464646;}
  100% {fill: #212529;}
}
.about{
    padding: 3rem 2rem;
}
.about_content > div {
    width: 50%;
    /*margin-top: 45rem;*/
}
.about_content_mobile {
    position: fixed;
    padding: 3rem 8rem 1rem 8rem;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.about_img {
    height: 100%;
    width: 100%;
}

.about_img_container img {
    border-radius: 50%;
    height: 20vw;
    width: auto;
    box-shadow: 0 12px 13px 0 rgba(0, 0, 0, 0.29);

}

.DCV {
    color: #97BFB4;
    padding-bottom: 5px;
    border-bottom: 1px solid #97BFB4;
    transition: padding 0.1s ease-in;
}

.DCV:hover {
    color: #DD4A48;
    padding-bottom: 15px;
    border-bottom: 2px solid #DD4A48;
}
@media screen and (max-width: 1083px) {
    .about h1{
        height: 6rem;
    }
}
@media screen and (max-width: 575px) {
    .about_img_container img {
        height: 50vw;
    }
    .about_content_mobile {
        padding: 0 10vw;
    }
}
/**--EDUCATION--*****************************************************************************************************************************/
#Education{
    background-color: #ffffff;
    height: 50rem;
}
/**--SKILLS--*****************************************************************************************************************************/

/**--EXPERIENCE--*****************************************************************************************************************************/

/**--PROJECTS--*****************************************************************************************************************************/

/**--CERTIFICATIONS--*****************************************************************************************************************************/

/**--CONTACT--*****************************************************************************************************************************/
#Contact {
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background: linear-gradient(45deg, rgba(42, 115, 101, 0.68) 15%, rgba(0, 34, 68, 0) 60%) center center / cover no-repeat, #CBD7D4 url("images/man.svg") fixed no-repeat bottom right;
    min-height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-heading{
    font-size: 10rem;
    font-weight: bolder;
    color: #d6e3df;
    position: relative;
    width: fit-content;
    top: -96px;
    left: -52px;
    background: linear-gradient(
            0deg, #f1f5f5 50%, #cbd7d4 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-container{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    position: relative;
    top: -45px;
}
.contact-content{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    color: white;
}
.contact-btn{
    background: transparent;
    font-size: 0.95rem;
    border-width: 2px;
    border-color: #F4F9F9;
    border-style: solid;
    border-radius: 1rem;
    color: #F4F9F9;
    font-family: sans-serif;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.05em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    /*margin-right:10px;*/
    transition: color ease-in, box-shadow 0.2s ease-out, background 0.4s;
}
.contact-btn:hover{
    background: #F4F9F9;
    color: #DD4A48;
    text-decoration: none;
    box-shadow: -16px 18px 20px 0 rgba(27, 27, 27, 0.22);
}
.contact-box{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.fa-envelope{
    transform: rotate(-90deg);
    font-size: 2.5em;
}
.contact-icon{
    font-size: 2.5em;
}
.phone-container{
    padding: 0 20px;
    border-left: 2px Solid white;
    border-right: 2px Solid white;
}
.footer{
    padding: 1rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.contact-socials{
    padding: 0 5px;
}
.contact-socials a{
    color: white;
    font-size: 1.6em;
    padding: 6.5px;
}
.handwriting{
    white-space: nowrap;
    font-family: 'Sassy Frass', cursive;
    font-size: 3em;
    color: #F4F9F9;
}
.theme-line{
    height: 1rem;
    width: 100%;
    background: linear-gradient(-90deg, #97BFB4 0 25%, #DD4A48 25% 50%, #F4F9F9 50% 75%, #212529 75% 100%);
}
@media screen and (max-width: 1200px) {
    #Contact {
        padding: 0 8rem!important;
        background: linear-gradient(45deg, rgba(42, 115, 101, 0.68) 15%, rgba(0, 34, 68, 0) 60%) center center / cover no-repeat, #CBD7D4 url("images/man.svg") fixed no-repeat 45% 100%;
    }
    .phone-container{
        padding: 0;
        padding-left: 5px;
        border-left: none;
        border-right: none;
    }
    .loc_pin{
        padding-left: 5px;
    }
    .contact-container{
        top: -35px;
    }
    .contact-heading{
        font-size: 7rem;
        top: -67px;
    }
}
@media screen and (max-width: 650px) {
    .contact-container{
        top: -15px;
    }
    .handwriting{
        color: #212529;
    }
    #Contact {
        padding: 0 40px!important;
        background: linear-gradient(110deg, rgba(42, 115, 101, 0.68) 13%, rgba(0, 34, 68, 0) 65%) center center / cover no-repeat, #CBD7D4 url("images/man.svg") fixed no-repeat 55% 100%;
    }
    .contact-heading{
        width: 100%;
        font-size: 4rem;
        top: -38.5px;
        left: 0;
    }
}

